{% extends "page.html" %}

{% block subtitle %}{{ _('Documentation') }}{% endblock %}

{% block breadcrumb_content %}
  <li class="active">{% link_for _('Documentation'), controller='ckanext.datalocale.controller:DocController', action='doc' %}</li> 
{% endblock %}

{% block primary %}
  <article class="module">
    <div class="module-content">
      {% block about %}
        <h1 class="page-heading">{{ _('Documentation') }}</h1>
        {% snippet 'home/snippets/doc_text.html' %}
      {% endblock %}
    </div>
  </article>
{% endblock %}

{% block secondary %}{% endblock %}
