@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: local('Lato Italic'), local('Lato-Italic'), url(http://themes.googleusercontent.com/static/fonts/lato/v6/oUan5VrEkpzIazlUe5ieaA.woff) format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 700;
  src: local('Lato Bold Italic'), local('Lato-BoldItalic'), url(http://themes.googleusercontent.com/static/fonts/lato/v6/HkF_qI1x_noxlxhrhMQYED8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(http://themes.googleusercontent.com/static/fonts/lato/v6/9k-RPmcnxYEPm8CNFsH2gg.woff) format('woff');
}
#site-name-title {
	font-family: 'Lato', sans-serif;
	font-style: italic;
 font-weight: 700;
 font-size: 1.3em;
}
#site-name-subtitle {
	font-family: 'Lato', sans-serif;
	font-style: italic;
 font-weight: 400;
 display:block;
 font-size: 0.8em;
}
#mainmenu li {
  display: inline;
}

#mainmenu .active a{
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3);
  background-color: rgba(0, 185, 241, 1);
  color:#fff;
  line-height: 18px;
}

#mainmenu .navbutton {
  display: inline;
  text-align: center;
  padding: 5px 10px;
  margin: 10px;
  border-radius: 5px;    
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

#mainmenu .blue{
  background-color: #25B8EA;
}

#mainmenu .orange{
  background-color: #EE4524;
}

#mainmenu .grey{
  background-color: #b3b3b3;
}

#mainmenu .green{
  background-color: #31b44d;
}

#mainmenu a{
  color:#ffffff;
}

header .account  {
	margin-left: 0px;
	margin-top: 25px;
}

.logo-cg33{
	background: url("../img/logocg33.jpg") no-repeat;
	background-size: 155px 48px;
	height: 48px;
	width: 155px;
	float: left;
	margin-top: 10px;
}
header .span7 {
	margin-left:0px;
}
header #content{
	height:28px;
	line-height:28px;
	margin-top: 20px;
}
header #mainmenu ul {
	margin-right:10px;
}
header .account li{
	line-height:10px;
	text-align:center;
}
header #mcontent {
 /* margin-top:20px;
  margin-bottom: 20px; */
}
#menu #account a {
  padding-top: 0px;
  font-weight: normal;
  margin-left: 0px;
}

#menusearch {
	font-size: 10px;
}

#wrap  {
  background-color: #F2FAFC;
}


.hero {
  padding-bottom: 0;
  min-height: 0;
}
.hero > .container {
  position: relative;
  padding-bottom: 0;
}
.hero-primary,
.hero-secondary {
  float: left;
  margin-left: 20px;
  width: 460px;
}
.hero-primary {
  margin-left: 0;
}
.hero-primary {
  margin-left: 0;
  margin-bottom: 0;
}
.hero-secondary {
}
.hero-secondary-inner {
  bottom: 0;
  left: 0;
  right: 0;
}
.hero .module-popup {
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
  margin-top: 50px;
}
.hero .module-popup .module-content {
  padding-bottom: 2px;
  width:auto;
}
.hero .page-heading {
  font-size: 18px;
  margin-bottom: 0;
  font-family: 'Lato';
  font-weight: 700;
  font-style: italic;
}
.hero .module-dark {
  padding: 5px;
  margin-bottom: 10px;
  color: #ffffff;
  background: #ffffff;
}
.hero .module-dark .module-content {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #00B9F1;
}
.hero .module-dark .module-content .heading {
  margin-bottom: 7px;
}
.hero .module-dark .module-content h3{
  font-size: 18px;
  font-family: 'Lato';
  font-weight: 700;
  font-style: italic;
  line-height: 18px;
}
.hero .tags {
  margin-bottom: 9px;
}
.hero .tags .tag,
.hero .tags .tag-list {
  display: inline-block;
}
.hero .tags .tag-list {
  padding: 0;
}
.hero .tags .tag {
  margin-right: 15px;
}

.hero .module-popup,
.hero .module-info-overlay {
  margin-top: 30px;
}

.hero .module-content {
  font-size: 12px;
  margin-left: -25px;
}

.module-info-overlay {
  /**position: absolute;**/
  top: 0;
  bottom: auto;
  background: #000;
  background: rgba(255, 255, 255, 0.93);
  /* -webkit-border-radius: 5px; */
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  -ms-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-out;
  -moz-transition: opacity 0.3s ease-out;
  -ms-transition: opacity 0.3s ease-out;
  -o-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
}

/***.module-info-overlay:after {
  top: 30px;
  border: solid rgba(255, 255, 255, 0);
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: rgba(255, 255, 255, 0.93);
  border-width: 12px;
  margin-top: -24px;
  }**/

  .module-info-overlay.fade-in {
    opacity: 1;
  }

  .module-info-overlay .module-heading {
    margin: 0;
    margin-bottom: 5px;
    padding: 0;
    border: 0;
    background: none;
    font-family : 'Lato';
    font-weight: 700;
    font-style: italic;
  }

  .module-info-overlay .close {
    position: absolute;
    top: 40px;
    right: 10px;
    font-size: 20px;
    color: #ADAFAF;
    opacity: 1;
  }

  .close {
    float: right;
    font-size: 20px;
    font-weight: bold;
    line-height: 18px;
    color: #000000;
    text-shadow: 0 1px 0 #ffffff;
    opacity: 0.2;
    filter: alpha(opacity=20);
  }
  .close:hover {
    color: #000000;
    text-decoration: none;
    cursor: pointer;
    opacity: 0.4;
    filter: alpha(opacity=40);
  }
  button.close {
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
  }

  /** Module**/

  .module {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    background-color: #ffffff;
    margin-bottom: 20px;
  }
  .ie9 .module {
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }
  .ie .module {
    border: 1px solid #cccccc;
  }
  .module-heading {
    -webkit-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
    font-size: 14px;
    line-height: 1.3;
    padding: 7px 25px;
    border-bottom: 1px solid #d0d0d0;
    background-color: #f3f3f3;
    background-image: -moz-linear-gradient(top, #f5f5f5, #f0f0f0);
    background-image: -ms-linear-gradient(top, #f5f5f5, #f0f0f0);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#f0f0f0));
    background-image: -webkit-linear-gradient(top, #f5f5f5, #f0f0f0);
    background-image: -o-linear-gradient(top, #f5f5f5, #f0f0f0);
    background-image: linear-gradient(top, #f5f5f5, #f0f0f0);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#f0f0f0', GradientType=0);
  }
  .module-heading [class^=icon]:before {
    font-size: 1.2em;
    line-height: 1;
    position: relative;
    top: 1px;
    margin-right: 0.1em;
  }
  .module-heading .action {
    float: right;
    color: #8c8c8c;
    font-size: 11px;
    text-decoration: underline;
  }
  .module-content {
    padding: 0 25px;
    margin: 20px 0;
  }
  .module-content:first-child {
    margin-top: 0;
    padding-top: 20px;
  }
  .module-content:last-child {
    margin-bottom: 0;
    padding-bottom: 20px;
  }
  .module-content > :last-child {
    margin-bottom: 0;
  }
  .module-border-top {
    border-top: 1px dotted #cccccc;
  }
  .module-border-bottom {
    border-bottom: 1px dotted #cccccc;
  }
  .module-footer {
    padding: 7px 25px 7px;
    border-top: 1px dotted #cccccc;
  }
  .module .read-more {
    font-weight: bold;
    color: #000000;
  }
  .module .pagination {
    height: 34px;
    margin-bottom: 0;
    border-top: 1px solid #d0d0d0;
  }
  .module .pagination > ul {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border: 0;
  }
  .module .pagination li a {
    border-top: none;
    border-bottom: none;
  }
  .module .pagination li:first-child a,
  .module .pagination li:last-child a {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
  }
  .module .pagination li:first-child a {
    border-left-width: 0;
  }
  .module .pagination li:last-child a {
    border-right-width: 0;
  }
  .module .pagination li.active a {
    border-left-width: 1px;
    border-right-width: 1px;
  }
  .module .action {
    text-align: center;
  }
  .module-shallow .module-content {
    padding: 10px;
    margin: 0;
  }
  .module-shallow .module-content:first-child {
    padding-top: 10px;
  }
  .module-shallow .module-content:last-child {
    padding-bottom: 10px;
  }
  .module-shallow small {
    font-size: 11px;
    display: block;
  }
  .module-narrow .module-heading,
  .module-narrow .module-content,
  .module-narrow .module-footer {
    padding-left: 15px;
    padding-right: 15px;
  }
  .ie .module-popup {
    border-bottom: none;
  }
  .module-grid {
    margin: 0;
    list-style: none;
    *zoom: 1;
    margin-left: -20px;
    padding: 0;
  }
  .module-grid:before,
  .module-grid:after {
    display: table;
    content: "";
  }
  .module-grid:after {
    clear: both;
  }
  .module-item {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    width: 33.33%;
    padding-left: 20px;
    padding-bottom: 25px;
    float: left;
    margin-left: 20px;
    width: 460px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 50px;
    overflow: hidden;
    position: relative;
  }
  .module-item.first {
    clear: left;
  }


  /**Tag**/

  body .tag {
    background: url("../img/background-tag.png") no-repeat -13px center;
    position: relative;
    display: block;
    font-size: 11px;
    line-height: 27px;
    color: #00B9F1;
    padding-left: 10px;
    padding-right: 5px;
    margin-right: 10px;
  }
  .tag:before {
    content: "";
    background: url("../img/background-tag.png") no-repeat center left;
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    right: -11px;
    width: 11px;
  }

  .hero .tags .tag,
  .hero .tags .tag-list {
    display: inline-block;
  }
  .tag-list {
    margin: 0;
    list-style: none;
    padding: 10px;
  }
  .tag-list li {
    display: inline-block;
    margin-right: 5px;
  }
  .hero .tags .tag-list {
    padding: 0;
  }
  .hero .tags .tag {
    margin-right: 10px;
  }

  /**Search giant**/

  .search-giant {
    position: relative;
  }

  .search-giant input {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 12px;
    padding: 5px;
    width: 120%;
    height: 30px;
  }
  .search-giant button {
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 70%;
    display: block;
    border: none;
    padding: 0;
    margin-top: -15px;
    width: 25px;
    height: 25px;
    background: transparent url("../img/icon-search-27x26.png") no-repeat center center;
    text-indent: -900em;
  }

  table {
    background-color: #fff;
  }

  #primary {
    background-color:#fff;
    padding: 10px 30px 50px 30px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
  }
  .home #primary {
    background-color: transparent;
    padding: 0px 
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    -webkit-box-shadow: 0 0 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 0px rgba(0, 0, 0, 0.3);
    margin-bottom: 0px;
    padding-top : 0px
  }
  .nav .dropdown-toggle .caret {
    margin-top:12px;
  }

  .home .dataset-heading a, .dataset-content h3{
    color: #333;
    font-size: 14px;
    font-weight: bold;
    margin:0;
    padding:0;
    line-height:20px;
  }

  .description{
    line-height:14px;
  }


  .home .group-list .media-content h3, .group-list .media-content a{
    padding:0px;
    margin: 0px;
    color: #333;
    font-size: 14px;
  }
  .home .group-list {
   margin: 0px;
 }
 .home .group-list.first {
   margin-right: 20px;
 }

 .module-heading p {
   font-size:12px;
 }

 .media-heading {
   font-size: 18pt;
   margin: 20px 5px 10px 5px;
   text-align: center;
 }

 .doc {
   margin-left: -35px;
 }

 .ressource {
   margin-left: -70px;
 }

 .media-heading a{
   text-decoration:none;
   color:#000;
   line-height:normal;
  }

 .media-content p {
  margin: 10px;
  text-align: justify;
  }

  .media-content h4 {
    margin-left: 25px;
  }

 .circle-green {
  background: url('../img/rond-vert.png') no-repeat;
  margin: 25px;
  margin-left: -45px;
  height: 250px;
  /* padding-top:25px;
   margin:25px;
   background-color:#31b44e;
   height:225px;
   -webkit-border-radius: 125px;
   -moz-border-radius: 125px;
   border-radius: 125px;
   text-align:center;*/
 }

 .circle-red {
  background: url('../img/rond-orange.png') no-repeat;
  margin: 25px;
  margin-left: -15px;
  height: 250px;
   /*padding-top:25px;
   margin:25px;
   background-color:#ee4524;
   height:225px;
   -webkit-border-radius: 125px;
   -moz-border-radius: 125px;
   border-radius: 125px;
   text-align:center;*/
 }

 .blue-hand {
   padding:40px 0 0 20px;
   margin:25px 0;
   margin-left: -90px;
   background:url("../img/main.png") no-repeat center center;
   background-size:countain;
   -moz-background-size:countain;
   -webkit-background-size:countain;
   -ms-background-size:countain;
   -o-background-size:countain;
   height:225px;
   width:350px;
 }
 
 .catalogue {
 margin-top: 45px;
 margin-left: -100px;
 }
 
 .list-dataset{
 margin-left: -126px;
 }
 
 .list-tags{
 margin-left: -108px;
 }

 .circle-padding {
   padding-left: 30px;
 }

 .circle-padding a{
   color:#fff;
 }

 #blue-hand-title {
  margin-top: -175px;
  margin-left: -150px;
}

.blue-hand li {
  margin-right: 20px;
  text-align: center;
  line-height: 45px;
}

.blue-hand ul {
  margin-top: -30px;
}

.blue-hand li.blue-hand-line-margin {
  text-align: right;
  margin-right: 60px;
}
 /* liste ï¿½ puce pour la colonne groupe */
/*
 #red-bullet-list li {
  list-style-image: url('../img/red-bullet.png');
  margin-left: 50px;
} */
/*
 .big-bullet {
  list-style-type: none;
  list-style-image: url('../img/red-bullet.png');
  }
 .big-bullet:before {
   content:"";
   margin-right:5px;
   float:left;
   height:50px;
   width:50px;
   background-color:#ee4524;
   -webkit-border-radius: 25px;
   -moz-border-radius: 25px;
   border-radius: 25px;
 }*/

 /* Flags */
 .flag {
  width: 16px;
  height: 11px;
  background-image:url('../img/flags.png');
  margin-right: 5px;
}

.flag.flag-es {background-position: -16px 0}
.flag.flag-fr {background-position: 0 -11px}
.flag.flag-en {background-position: -16px -11px}
