<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip=""
  >

  <py:def function="body_class">${h.literal('no-sidebar')}</py:def>
 
  <py:def function="page_title">Welcome to ${g.site_title}</py:def>

  <div py:match="//div[@id='content']" class="front-page">
  <div role="main" class="hero">
	<div id="content" class="container">
		<div class="flash-messages"></div>
	
	<!-- ligne bootstrap -->
	<div class="row">
	
	  <!-- bloc bienvenue -->
	  <section class="span4 module-narrow module-shallow">
		<header class="circle-red">
			<div class="media-content">
			  <h3 class="media-heading doc">Documentation</h3>
			  <ul class="unstyled circle-padding">
				<!--<li>${h.link_to(_('About'), h.url_for(controller='home', action='about'))}</li>-->
				<li py:if="not c.user"><a href="${c.site_url}${h.url_for('/user/new')}">Créer un compte</a></li>
				<li py:if="c.user" class="add_diffuseur"></li>
				<!--<li><a  href="${c.site_url}${h.url_for('/diffuseur')}">Créer un producteur</a></lii>--> 
				<li><a  href="${c.site_url}${h.url_for('/dataset/new')}">Déposer un jeu de données</a></li>
			  </ul>
			</div>
		</header>
	  </section>
<?python
c.diffuseurNum = 0
c.producteurNum = 0
for c.gp in c.groups:
 if c.gp["type"] == "organization":
  c.diffuseurNum = c.diffuseurNum + 1
 elif c.gp["type"] == "service":
  c.producteurNum = c.producteurNum + 1
?>
  
	  <!-- bloc groupes -->
	  <section class="span4 module-narrow module-shallow">
		<header class="circle-green">
			<div class="media-content">
			  <h3 class="media-heading ressource">Ressources</h3>
			  <ul class="unstyled circle-padding">
				<li >La ressourcerie est animé par<br></br><a href="${c.site_url}${h.url_for('/user')}"><b><span id="userNumSpan">145</span></b> utilisateurs</a></li>
				<li>regroupés au sein de<br></br><a href="${c.site_url}${h.url_for('/diffuseur')}"><b>${c.diffuseurNum}</b> diffuseurs</a></li>
			  </ul>	
			</div>
		</header>
	  </section>
  
	<div> <!-- colonne avec deux lignes -->
	  <!-- bloc find data -->
	  <div class="span4">
		  <div class="module-shallow module-narrow blue-hand">
			  <!-- <h3 class="heading">Find data</h3> -->
			  <ul class="unstyled circle-padding">
			  	<li class="catalogue">Actuellement le catalogue contient</li>
			  	<li class="list-dataset"><a href="${h.url_for(controller='package', action='search')}"><b>${c.package_count}</b> jeux de données</a> à utiliser</li>
			  	<li class="list-tags">ou découvrir par <a href="${c.site_url}${h.url_for('/tag')}?themes=true"> <b>thèmes</b></a> et <a href="${c.site_url}${h.url_for('/tag')}"> <b>tags</b></a></li>
			  	<!--<li class="blue-hand-line-margin">Télécharger le catalogue : 
			  		<a href="${c.site_url}/dump/Datalocale.rdf"> RDF</a> -
			  		<a href="${c.site_url}/dump/Datalocale.json"> JSON</a> -
			  		<a href="${c.site_url}/dump/Datalocale.csv"> CSV</a> 
			  	</li> -->
			  </ul>
			  <h3 class="media-heading" id="blue-hand-title">Données</h3>	
			</div>
	  </div>
	  <div class="row">
	  	<div class="span4">
	  		<section>
	  			<header>
	  				<h4 class="dataset-list">Datasets</h4>
	  			</header>
	  			<ul class="unstyled dataset-list">
	  			<py:for each="dataset in c.datasets">
	  			<li class="dataset-item module-content" if="dataset and dataset != ''">
	  				<div class="dataset-content">
	  					<h3 class="dataset-heading">
	  						<a href="/dataset/${dataset['name']}">${dataset.get('title','')}</a>
	  					</h3> 
	  					<py:if test="dataset.get('notes','')">
	  					<div class="description">
	  						${dataset.get('notes','')[:150]}
	  					</div>
	  				</py:if>
	  				</div>
	  			</li>
	  			</py:for>
	  			</ul>
			</section>
		</div>
		<div class="span4">
	  		<section>
				<header>
					<h4 class="group-list">Diffuseurs</h4>	
				</header>
				<ul class="unstyled group-list">
				<?python
				i = 0
				?>
	  			<py:for each="facet in enumerate(c.groups)">
	  			<?python
	  			if (facet[1].get('type','') != "service" and i < 3):
					isGroup = 1
					i += 1
				else:
					isGroup = 0
	  			?>
	  			<li py:if="isGroup == 1" class="dataset-item module-content">
	  				<div class="dataset-content">
	  					<h3 class="dataset-heading">
	  						<a href="${h.url_for('/diffuseur')}/${facet[1].get('name')}">${facet[1].get('display_name')}</a>
	  					</h3>
	  					<!--<div>${facet[1].get('description')[:200]}...</div>-->
	  					<div class="description">${facet[1].get('title')} has ${facet[1].get('packages')} datasets.</div>
	  				</div>
	  			</li>
	  			</py:for>
	  			</ul>
			</section>
		</div>
		<div class="span4">
		  <div class="tags">
			<h3 class="tag">Popular</h3>
				<ul class="tag-list">
				<?python
				exclude_list = ['à enrichir','exhaustive', 'à améliorer', 'référence', 'échantillon']
				count = 0
				?>
				<py:if test="c.search_facets and c.search_facets != '' and c.search_facets.get('tags') and c.search_facets.get('tags') != '' ">
				<py:for each="facet in enumerate(c.search_facets.get('tags')['items'])">
					<li py:if="facet[1] and facet[1] != '' and facet[1].get('name','') not in exclude_list and count in [0,1,2]">
					  <a class="tag" href="/dataset?tags=${facet[1].get('name','')}" style="text-transform:lowercase; text-transform:capitalize">${facet[1].get('display_name','')}</a>
					<?python
						count  += 1
					?>
					</li>
				</py:for>
				</py:if>
				</ul>
		  </div>
		</div>
		</div>

	</div> <!-- fin de colone--> 
	</div> <!-- fin de ligne bootstrap-->

  </div>
  </div>
  </div>
  <xi:include href="layout.html" />
</html>

