<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip=""
  >

  <py:def function="body_class">${h.literal('no-sidebar')}</py:def>
 
  <py:def function="page_title">Welcome to ${g.site_title}</py:def>

  <div py:match="//div[@id='content']" class="front-page">
  <div role="main" class="hero">
	<div id="content" class="container">
		<div class="flash-messages"></div>
	
	<!-- ligne bootstrap -->
	<div class="row">
	
	  <!-- bloc bienvenue -->
	  <section class="span4 module-narrow module-shallow">
		<header class="circle-green">
			<div class="media-content">
			  <h3 class="media-heading">Doc</h3>
			  <ul class="unstyled circle-padding">
				<li>${h.link_to(_('About'), h.url_for(controller='home', action='about'))}</li>
				<li py:if="not c.user"><a href="{c.site_url}/user/new">Créer un compte</a></li>
				<li py:if="c.user" class="add_diffuseur"></li>
				<li><a  href="${c.site_url}/diffuseur">Créer un producteur</a></li>
				<li><a  href="${c.site_url}/dataset/new">Déposer un jeu de données</a></li>
			  </ul>
			  <!-- <h3 class="media-heading">Welcome to ${g.site_title}</h3>
			  <p>${g.site_title} contains <a href="${h.url_for(controller='package', action='search')}">${c.package_count} datasets</a> that you can 
			browse, learn about and download.</p> -->
			</div>
		</header>
		  <p>Find out more about working with open data by exploring 
		  these resources:</p>
		  <ul>
			<li><a href="${c.site_url}/dump/Datalocale.rdf">au format rdf</a></li>
			<li><a href="${c.site_url}/dump/Datalocale.json">au format json</a></li>
			<li><a href="${c.site_url}/dump/Datalocale.csv">au format csv</a></li>
		  </ul>
	  </section>
<?python
c.diffuseurNum = 0
c.producteurNum = 0
for c.gp in c.groups:
 if c.gp["type"] == "organization":
  c.diffuseurNum = c.diffuseurNum + 1
 elif c.gp["type"] == "service":
  c.producteurNum = c.producteurNum + 1
?>
  
	  <!-- bloc groupes -->
	  <section class="span4 module-narrow module-shallow">
		<header class="circle-red">
			<div class="media-content">
			  <h3 class="media-heading">Ressources</h3>
			  <ul class="unstyled circle-padding">
				<li ><a href="${c.site_url}/user"><span id="userNumSpan">145</span> utilisateurs</a> disponibles</li>
				<li><a href="${c.site_url}/diffuseur">${c.producteurNum} producteurs rattachés <br/>à ${c.diffuseurNum} diffuseurs</a></li>
			  </ul>	
			  <!-- <h3 class="media-heading"><a href="/group">Les diffuseurs</a></h3> -->
			</div>
		</header>
		<ul class="unstyled dataset-list" id="red-bullet-list">
		<py:for each="facet in enumerate(c.groups[:3])">
			<li class="dataset-item module-content">
			  <div class="dataset-content">
				<h3 class="dataset-heading">
				  <a href="/organization/${facet[1].get('name')}">${facet[1].get('display_name')}</a>
				</h3>
				  <div>${facet[1].get('description')[:200]}...</div>
				  ${facet[1].get('title')} has ${facet[1].get('packages')} datasets.
			  </div>
			</li>
		</py:for>
		</ul>
	  </section>
  
	<div> <!-- colonne avec deux lignes -->
	  <!-- bloc find data -->
	  <div class="span4">
		  <div class="module-shallow module-narrow blue-hand">
			  <!-- <h3 class="heading">Find data</h3> -->
			  <ul class="unstyled circle-padding">
			  	<li>Naviguer <a href="${c.site_url}/tag">Par thèmes</a></li>
			  	<li class="blue-hand-line-margin">Naviguer <a href="${c.site_url}/tag">Par tags</a></li>
			  	<li>Il y  a actuellement <a href="${h.url_for(controller='package', action='search')}">${c.package_count}  datasets</a></li>
			  	<li class="blue-hand-line-margin">Télécharger le catalogue : 
			  		<a href="${c.site_url}/dump/Datalocale.rdf"> RDF</a> -
			  		<a href="${c.site_url}/dump/Datalocale.json"> JSON</a> -
			  		<a href="${c.site_url}/dump/Datalocale.csv"> CSV</a> 
			  	</li>
			  </ul>
			  <h3 class="media-heading" id="blue-hand-title">Données</h3>	
			</div>
			<form class="dataset-search" method="get" action="/dataset">
				<span class="control-group search-giant">
					<input type="text" class="search" name="q" value="" autocomplete="off" placeholder="${_('Find datasets')}" />
					<button type="submit" value="Search">Submit</button>
				</span>
			</form>
		  <div class="tags">
			<h3 class="tag">Popular</h3>
				<ul class="tag-list">
				<py:for each="facet in enumerate(c.search_facets.get('tags')['items'][:3]) ">
					<li>
					  <a class="tag" href="/dataset?tags=${facet[1].get('name','')}">${facet[1].get('display_name','')}</a>
					</li>
				</py:for>
				</ul>
		  </div>
	  </div>

	  <section class="span4 module-narrow module-shallow">
		<header>
			<div class="media-content">
			  <h4>Datasets</h4>
			</div>
		</header>
		<ul class="unstyled dataset-list">
		<py:for each="dataset in c.datasets">
			<li class="dataset-item module-content">
			  <div class="dataset-content">
				<h3 class="dataset-heading">
				  <a href="/dataset/${dataset['name']}">${dataset.get('title','')}</a>
				</h3> 
					<py:if test="dataset.get('notes','')">
					  <div>
					  ${dataset.get('notes','')[:200]}
					  </div>
					</py:if>
				  </div>
			</li>
		</py:for>
		</ul>
	  </section>
	
	</div> <!-- fin de colone--> 
	</div> <!-- fin de ligne bootstrap-->

  
  <!-- div "inscrivez-vous" désactivé
  <section class="hero-secondary module module-info-overlay fade-in span6">
	<py:choose>
	 <py:when test="c.user">
	<div class="ckan-logged-in"><div class="module-content">
	  <h3 class="module-heading">Add a Dataset</h3>
	  <p>
		  You can <a href="/dataset/new">add a dataset</a> to get a sense of publisher workflow. This form
		  can be customised to require many additional fields. In this demo only
		  the most basic fields are required.
	  </p>
	</div></div>
	</py:when>
	<py:otherwise>
	<div class="ckan-logged-out"><div class="module-content">
	  <h3 class="module-heading">Inscrivez-vous</h3>
	  <p>
		  Vous pouvez vous <a href="/user/register">inscrire</a> ou vous <a href="/user/login">connecter</a> pour collaborer à projet Datalocale. 
	  </p>
	</div></div></py:otherwise>
	</py:choose>
  </section> -->
  
  </div>
  </div>
  </div>
  <xi:include href="layout.html" />
</html>

