{% trans %}
<p>Comment fonctionne ce site</p>

<H2>Les rubriques du site</H2>
Ce site fonctionne avec plusieurs rubriques qui permettent de faciliter la navigation et l'utilisation des ressources ouvertes mises à disposition

<ul>
	<li>documentation : comment fonctionne ce site et quels sont les services offerts</li>
	<li>jeux de données : le catalogue des données ouvertes avec leurs métadonnées et les ressources (fichiers) associées</li>
	<li>diffuseurs : une page qui présente les diffuseurs de données ouvertes et les ressources qu'ils proposent</li>
	<li>thèmes : des jeux de données regroupés par thématique</li>
	<li>A propos : la démarche d'ouverture de la ressourcerie datalocale</li>
	<li>Blog : l'actualité et les animations autour de la démarche d'ouverture de données</li>
	<li>Datavisualisation : des réalisations à partir des donnnées ouvertes dans le champ de la visualisation de données</li>
</ul>>
<h2>Les fonctionnalités du site</h2>
<h3>la prévisualisation de ressources</h3>
<h3>le moteur de recherche</h3>
<h3>l'API</h3>
<h3>des données sémantiques</h3>
<h3>la publication de données</h3>
{% endtrans %}
